<h2><%= @sermon.title %></h2>

<p>
  <%= link_to 'Edit sermon', edit_sermon_path(@sermon), class: 'btn btn-primary' %>
</p>

<p>
  <%= image_tag @sermon.image.url(:medium) %>
</p>

<p>
  <strong>Description: </strong>
  <%= @sermon.description %>
</p>

<p>
  <strong>Date: </strong>
  <%= @sermon.display_date %>
</p>

<% if @sermon.series %>
  <p>
    Part of series: <%= link_to @sermon.series.title, @sermon.series %>
  </p>
<% end %>