<!DOCTYPE html>
<html>
  <head>
    <title>Sermonsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Series', series_index_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sermons', sermons_path, class: 'nav-link' %>
        </li>
      </ul>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
